body{
	overflow-x: hidden;
	background-image: url('background.jpg');
	width:100%;
	height: 100%;
	margin:auto;
}

.container{
	background-color: white;
}

/*police*/
@font-face {
	font-family: "police";
	src: url('FoxCat.otf');
}

/*navbar*/
nav{
	opacity: 0.9;
}

.navbar{
	text-align: center;
	margin-left: 27%;
}

#croissant{
	width: 20%;
	height: auto;
	margin-right: 0px;
	padding-right: 0px;
}

.nav-link{
	font-size:25px;
	font-family: "police";
	font-style: bold;
}

#EnTete{
	width:100%;
	height: auto;
	color: white;
	opacity: 0.5;
}


/*Bas de la page*/

hr{
	text-align: center;
	width: 60%;
}
.Bas_de_page{
	text-align: center;
	background-color: white;
	width: 100%;
}
#oiseaux{
	height: 50px;
	width: auto;
}
#Copyright{
	color: gray;
}

/*Texte à droite*/
.Texte{
	text-align: center;
}

.textBienvenue{
	padding: 40px 15px;
	text-align: center;
	font-size: 12px;
}

#avion{
	margin-left: 70%;
	margin-top: 0px;
	width: 65px;
	height: auto;
}


/*Map*/
#Map{
	padding-top: 30px;
}

#map{
	width: 100%; 
	height: 200px;
}

/*Liste*/
#pagination{
	margin-left: 47.5%;
}
#textPagination{
	text-align: center;
	font-style: italic;
	color: gray;
}

.tabs{
    border: solid 1px #000;
}

.tabs_head{
    border-bottom: solid 1px #aaa;
    margin: 5px;
}

.tabs_head>span{
    display: inline-block;
    cursor: pointer;
    padding: 3px;
    color: #888;
    border-radius: 2px;
    background-color: #E0F8F1;
    border-right: solid 1px #aaa;
    transition: all 0.7s ease;
}

.tabs_head>span.tab_selected{
    color: black;
    background-color: #64E5CB;
    font-style: bold;
}

.tabs_content>div{
    display: block;
    overflow: hidden;
    max-height: 0px;
    transition: all 0.7s ease;
    margin-bottom: 6px;
}

.tabs_content>div.tab_selected{
    max-height: 300px;
    font-family: sans-serif;
    font-style: bold;
}
/*SearchBar*/
#navbarDropdown{
	font-size:15px;
	font-family: "police";
	font-style: bold;
	color: gray;
}

::selection {
   background: #212129;
}

.search-wrapper {
    position: relative;
    transform: translate(-50%, -50%);
    top: 20px;
    left:60%;
}

.search-wrapper.active .input-holder {
    width:450px;
    border-radius: 50px;
    background: rgba(0,0,0,0.5);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
.search-wrapper .input-holder .search-input {
    width:100%;
    height: 20px;
    padding:0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#FFF;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
    width:20px;
    height:20px;
    border:none;
    border-radius:6px;
    background: #FFF;
    padding:0px;
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.search-wrapper .input-holder {   
    overflow: hidden;
    background: rgba(0,255,255,0);

}
.search-wrapper.active .input-holder .search-icon {
    width: 18px;
    height:18px;
    margin: 10px;
    border-radius: 30px;
    background: rgba(0,255,255,0);
}
.search-wrapper .input-holder .search-icon span {
    width:30px;
    height:30px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    transform: rotate(45deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
    transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute; 
    content:'';
}
.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 14px;
    left: 5px;
    top: 14px;
    border-radius: 2px;
    background: green;
}
.search-wrapper .input-holder .search-icon span::after {
    width: 12px;
    height: 12px;
    left: 0px;
    top: 4px;
    border-radius: 16px;
    border: 4px solid green;
}
.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top:0px;
    right:0px;
    width:20px;
    height:20px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}
.search-wrapper.active .close {
    right:-50px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: gray;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 20px;
    left: 7px;
    top: 0px;
}
.search-wrapper .close::after {
    width: 20px;
    height: 5px;
    left: 0px;
    top: 8px;
}